# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____

# PUT YOUR SESSION ID BELOW (Required)
SESSION_ID=

# PUT YOUR REMOVE BACKGROUND KEY (Optional)
REMOVEBG_KEY=

PORT=5000

# If you don't have session id and want pairing code for connection 
PAIRING_NUMBER=


# Use One Of Following:
# Database Configuration (Optional but recommended)
# Leave empty to use JSON file storage

# MongoDB (Optional)
MONGO_URL=

# PostgreSQL (Optional)
POSTGRES_URL=

# MySQL (Optional)
MYSQL_URL=

# SQLite Path (Optional)
# Example: DB_URL=./data/baileys.db
DB_URL=

PREFIXES=.,!,/

PACKNAME=MEGA-MD

BOT_NAME=MEGA-MD-PRO

OWNER_NUMBER=923000000000

COMMAND_MODE=private

BOT_OWNER=GlobalTechInfo

TIMEZONE=Asia/Karachi
